.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 300px;
}

.seller {
  font-weight: bold;
  text-align: center;
  align-content: center;
  font-size: large;
}

h1 {
  text-align: center;
  color: rgba(0,0,0,.54);
  font-weight: bold;
}

.stanley {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
  max-height: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.stanley-img {
  max-width: 100%;
  max-height: 300px;
}

.intro {
  text-align: justify;
  margin: 10px;
  text-justify: inter-word;
}

.header {
  max-width: 100%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.telegram {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 2px solid darkgray;
  border-radius: 5px;
  width: 60%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 1 auto;
}

.right {
  text-align: center;
  flex: 3 auto;
}