.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

h3 {
  text-align: center;
  margin-top: 10px;
  color: rgba(0,0,0,.54);
  font-weight: bold;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}