<div>
  <mat-toolbar fixed>
    <a href='/' title="Home | ECAU"><img src='/assets/images/favicon-32x32.png' class='logo' width="28" height="30" /><div mat-heading class='txt-logo'>ECAU</div></a>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="beforeMenu" mat-icon-button aria-label="button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <a href='/'><button mat-menu-item>Home</button></a>
      <a href='/policies'><button mat-menu-item>Policies</button></a>
      <a href='/contact'><button mat-menu-item>Contact</button></a>
      <!-- <a href='https://stanleyuni.org' target="_blank" rel="noopener"><button mat-menu-item>Learn</button></a> -->
      <a href='/resources'><button mat-menu-item>Resources</button></a>
      <!-- <a href='/join'><button mat-menu-item>Join</button></a> -->
      <!-- <a href='https://t.me/ecau_org' target="_blank" rel="noopener"><button mat-menu-item>Telegram</button></a> -->
    </mat-menu>
  </mat-toolbar>

  <div style="padding:10px;">
    <router-outlet></router-outlet>
  </div>
</div>