<div>
  <mat-toolbar>
    Executive Council for Australian Unity
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="beforeMenu" mat-icon-button aria-label="button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <a href='/'><button mat-menu-item>Home</button></a>
      <a href='/policies'><button mat-menu-item>Policies</button></a>
      <a href='/contact'><button mat-menu-item>Contact</button></a>
      <a href='https://www.youtube.com/channel/UCxMEtV_wVRSYFtkcy4TwNow' target="_blank" rel="noopener"><button mat-menu-item>Free Resources</button></a>
      <a href='/research'><button mat-menu-item>Research</button></a>
      <a href='/join'><button mat-menu-item>Join</button></a>
    </mat-menu>
  </mat-toolbar>

  <div style="padding:10px;">
    <router-outlet></router-outlet>
  </div>
</div>