.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-icon {
  width: 32px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 12px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.mat-cell, .mat-footer-cell {
  font-size: 12px;
}

.year {
  width: 5%;
}

span.title {
  border-right: 5px;
}

span.author {
  border-right: 5px;
}

span.journal {
  border-right: 5px;
}

.category {
  width: 10%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search {
  max-width: 80%;
}

h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgba(0,0,0,.54);
  font-weight: bold;
}

p {
  text-align: center;
  margin: 0;
}

p {
  font-weight: 100;
}

table {
  width: 100%;
  max-width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr.element-row:hover {
  background: whitesmoke;
}

tr.element-row:active {
  background: #efefef;
}