.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgba(0,0,0,.54);
  font-weight: bold;
}

p {
  text-align: center;
  margin: 0;
}

p {
  font-weight: 100;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr.element-row:hover {
  background: whitesmoke;
}

tr.element-row:active {
  background: #efefef;
}